.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 24px 0 0;
}

@media (--mobile) {
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
  }

  .footer p {
    margin-top: 0;
    margin-bottom: 8px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
